*{
  
}
.style{
  width: 73vw;
  height: 79vh;
  display: flex;
  flex-Direction: column;
  position: relative;
  top: 0px;
  margin-left: 8vw;
  background-image: url("bac.png");
  
}



.MASS{
  border: 0px solid #c1b9b9;
  /* background: #928f8f; */
  border-radius: 15px;
  padding: 10px;
  color: white;
  background-color: #3f474b;
  width: fit-content
  
  ;
  
}
.style1{ 
  width: 30vw;
  flex-Grow: 1;
  display: flex;
   flex-Direction: column;
   margin-left: 15%;
}
.style3{
 
  height: 45px;
  display: flex;
  background-color: #1e2428;
  flex-Direction:row;
  margin: 2px;
}
.hit{
  
  height: 70px;
  display: flex;
  background-color: #1e2428;
  flex-Direction:row;
}
.hit1{
  
  height: 71px;
  width: 100vw;
  background-color: #2a2f32;
}
.input{
  border-radius:35px;
  outline: none;
background-color: #33383b;
border: 0px;
width: 60vw;
position: relative;
left: 18%;
color: white;
padding-left:20px;
top: 10px;
}
.img1{
  border-radius: 50%;
  height: 65px;
  width: 65px;
    position: relative;
    margin-top: 2px;
  left: 12%;
}
.heding{
  position:absolute;
  left: 16.5%;
  font-size: 20px;
  color: white;
  top: -10px;
}
.heding1{
  position:absolute;
  left: 17.6%;
  font-size: 20px;
  color: white;
  font-size: 15px;
  top: 23px;
}
.Helo{
  height: 30px;

}
.button{
  width:2.9vw;
  border: 0px;
  position: relative;
left: 13.9%;
cursor: pointer;
  border-radius:35px 35px 35px 35px;
  top: 10px;
  background-color: #33383b;
}
